.venue-list-item {
    padding: 0 5px;
    color: lightgrey;
    background-color: black;
    font-size: 15pt;
}

#event-grid-container {

    .event-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 32px;
        grid-auto-flow: dense;
    }

    .event-container {
        > h2 {
            padding-top: 10px;
            margin-top: 0px;
        }
    }

    .event-container:nth-child(odd) {
        background: #CCC
    }

    .event-container:nth-child(even) {
        background: #FFF
    }
}
  

.event-grid-item {
    
    padding: 10px;
    .event-title {
        width: 280px;
        font-weight: bold;
        color: black;
        margin: 0;
        display: block;

        a {
            color: black
        }
        a:link { text-decoration: none; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:active { text-decoration: none; }
    }

    .event-description {
        width: 280px;
        color: black;
    }
    
    .event-image {
        img {
            max-width: 250px;
        }
    }
}